src/main/webapp/WEB-INF/wsdl/PlantSOAPService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is JAX-WS RI 2.2.8-promoted-b146 svn-revision#13443. -->
<xs:schema xmlns:tns="http://service.soap.domain.ut.cs/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
	targetNamespace="http://service.soap.domain.ut.cs/">

	<xs:element name="getAllPlants" type="tns:getAllPlants" />

	<xs:element name="getAllPlantsResponse" type="tns:getAllPlantsResponse" />

	<xs:element name="getAvailablePlants" type="tns:getAvailablePlants" />

	<xs:element name="getAvailablePlantsResponse" type="tns:getAvailablePlantsResponse" />

	<xs:element name="plantResource" type="tns:plantResource" />

	<xs:element name="plantResourceList" type="tns:plantResourceList" />

	<xs:complexType name="getAvailablePlants">
		<xs:sequence>
			<xs:element name="arg0" type="xs:dateTime" minOccurs="0" />
			<xs:element name="arg1" type="xs:dateTime" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getAvailablePlantsResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:plantResourceList"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="plantResourceList">
		<xs:sequence>
			<xs:element name="listOfPlantResources" type="tns:plantResource"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="plantResource">
		<xs:sequence>
			<xs:element name="description" type="xs:string" minOccurs="0" />
			<xs:element name="identifier" type="xs:long" />
			<xs:element name="plantName" type="xs:string" minOccurs="0" />
			<xs:element name="pricePerDay" type="xs:decimal"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getAllPlants">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="getAllPlantsResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:plantResourceList"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>