src/main/webapp/WEB-INF/wsdl/PurchaseOrderSOAPService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-promoted-b146 svn-revision#13443. --><xs:schema xmlns:tns="http://service.soap.domain.ut.cs/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.soap.domain.ut.cs/">

<xs:element name="createPurchaseOrder" type="tns:createPurchaseOrder"/>

<xs:element name="createPurchaseOrderResponse" type="tns:createPurchaseOrderResponse"/>

<xs:complexType name="createPurchaseOrder">
<xs:sequence>
<xs:element name="arg0" type="xs:long"/>
<xs:element name="arg1" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg2" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createPurchaseOrderResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>